


.main-body {
    display: flex; /* Sử dụng Flexbox để tạo bố cục ngang */
    height: 100vh; /* Chiều cao toàn màn hình */
    width: 100vw; /* Chiều rộng toàn màn hình */
    background-color: #ffffff; /* Màu nền tổng thể */
  }

  
  /* Nội dung chính */
  .content {
    flex: 1; /* Chiếm không gian còn lại */
    display: flex; /* Căn giữa nội dung bên trong */
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  