.albumInfo-card {
    margin-top: 10px;
    width: 20%;
    /* Add max-width to prevent it from stretching too far */
    max-width: 100%;
}

.albumInfo-card p {
    margin: 5px auto !important;
    text-align: center;
}

.albumName-container {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    color: #ffd1c2;
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Show ellipsis if the text overflows */
    display: block; /* Ensure it behaves like a block-level element */
}

.marquee {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 12s linear infinite;
}

@keyframes marquee{
    0%{
        transform: translateX(120%);
    }

    100%{
        transform: translateX(-100%);
    }
}

.album-info {
    font-size: 14px;
    font-weight: 500;
    color: rgb(190, 252, 252);
    overflow: hidden; /* Hide anything that overflows */
    text-overflow: ellipsis; /* Show ellipsis if the text overflows */
    display: -webkit-box; /* Use flexbox for line clamping */
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    line-clamp: 2; /* Standard property for compatibility */
    -webkit-box-orient: vertical; /* Ensure the text is vertical */
    white-space: normal; /* Allow text to wrap */
    width: 100%; /* Ensure it takes up the full width of the parent container */
}

.album-info:hover {
    color: #eea111;
}

.album-release {
    font-size: 14px;
    font-weight: 400;
    color: azure;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Ensure release date does not overflow */
}
